outputDir: ../generated-project
springBootVersion: 2.7.0
springDependencyManagementVersion: 1.0.11.RELEASE
openApiGeneratorVersion: 7.0.1
javaVersion: 11
groupId: com.example
version: 0.0.1-SNAPSHOT
basePackage: com.example.generated
specs:
  - openapi_location_validation.yml
  - openapi_tax.yml
  - openapi_trn.yml